/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.counter-container {
	background: rgba(12, 220, 216, 0.945);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: 25px;
}

.digit {
	background: #569a9ed8;
	color: white;
	font-size: 60px;
	font-weight: bold;
	width: 80px;
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}